::-moz-selection {background: #4b026f;}

::selection {background: #4b026f;}

body {
	font-family: 'Josefin Sans', sans-serif;
	background-color: #ddd;
}

.rd {
	margin: 0;
	text-align: left;
	font-size: .1em;
}

h1 {
	text-align: center;
	font-size: 5em;
	color: #000;
}
