::-moz-selection {background: #4b026f;}

::selection {background: #4b026f;}

::-webkit-scrollbar {
    display: none;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	background-color: rgb(85, 86, 169);
}

.rd {
	margin: 0;
	text-align: left;
	font-size: .1em;
}

.main {
	width: 85%;
	height: 35em;
	margin: 0 auto;
	background-color: rgb(153, 156, 219);
	position: relative;
	transform: translate(0,50%);
}

.main2 {
	width: 30%;
	height: 42em;
	background-color: white;
	position: relative;
	bottom: 33.5em;
	left: 5em;
	margin: 0;
  overflow: scroll;
}

.button {
	width: 10em;
	height: 10em;
	border-radius: 50%;
	background-color: rgb(153, 156, 219);
	margin: 2em auto;
	border: 5px solid rgb(85, 86, 169);
	cursor: pointer;
  box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
  transition: all 200ms cubic-bezier(0.25, 0.39, 0.39, 2.01);
}

.button:hover {
    box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
    transform: translate(0px, -5px) scale(1.0);
}

h1 {
	float: right;
	font-size: 3em;
	color: white;
	padding: 3.5em 1em 1em 1em;
}

.title {
	text-align: center;
	color: white;
	font-size: 1.6em;
	position: relative;
	top: 1.7em;
}

.block {
  float: right;
  width: 42em;
  height: 25em;
  margin: 5em 7em 0 0;
  box-shadow: 10px 10px 29px -4px rgba(0,0,0,0.75);
  background-image: url(/Users/rD/Web/DesignConcepts/images/footer_lodyas.png);
  position: relative;
  left: 33em;
  text-decoration: none;
}

.dc {
  margin: 0;
  padding: 2em 1.4em 0 0;
  font-size: 5em;
}

.hide {
 display: none;
}

img {
  background-repeat: no-repeat;
	background-size: contain;
  width: 42em;
  height: 25em;
}

a {
  text-decoration: none;
}
