::-moz-selection {background: #1D1F21;}

::selection {background: #1D1F21;}

body {
	font-family: 'Josefin Sans', sans-serif;
	background-image: url("/Users/rD/Web/DesignConcepts/Concept21/images/1.png");
}

.rd {
	margin: 0;
	text-align: left;
	font-size: .1em;
}

.sideblock {
	width: 30em;
	height: 100vh;
	background-color: #1D1F21;
	box-shadow: 0px 10px 27px -6px rgba(0,0,0,0.75);
}

.block {
	width: 30em;
	height: 35em;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 43em;
	background-color: #1D1F21;
	background-image: url("/Users/rD/Web/DesignConcepts/Concept21/images/SJ.jpg");
	box-shadow: 0px 10px 27px -6px rgba(0,0,0,0.75);
	background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
}

.hello {
	position: relative;
	left: 5em;
	top: 40%;
	font-size: 10em;
	color: #1D1F21;
	margin: 0;
}

.blinking-cursor {
	font-size: 10em;
	color: #1D1F21;
  animation: 1s blink step-end infinite;
	position: relative;
	left: 7.2em;
	top: 1.13em;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  30% {
    color: #1D1F21;
  }
}

.quote1 {
	position: relative;
	left: 12.7em;
	top: 4em;
	font-size: 4em;
	color: #1D1F21;
	margin: 0;
	text-transform: uppercase;
}
