::-moz-selection {background: #ff7473;}

::selection {background: #ff7473;}

body {
	font-family: 'Josefin Sans', sans-serif;
	background-image: url(http://67.media.tumblr.com/78624123599fc7fcb256840736f6987b/tumblr_n4vbdf0dgm1st5lhmo1_1280.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.rd {
	margin: 0;
	text-align: left;
	font-size: .1em;
}

.main {
	width: 50em;
	height: 50em;
	background-color: #fff;
	opacity: 0.5;
	margin: 4em auto;
	border-radius: 400px 20px 400px 400px;
	display:flex;
	align-items:center;
	box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
}

.main2 {
	width: 40em;
	height: 40em;
	margin: 1em auto;
	background-color: #fff;
	opacity: 0.6;
	display:flex;
	align-items:center;
	border-radius: 400px 20px 400px 400px;
	box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
}

.main3 {
	width: 30em;
	height: 30em;
	margin: 1em auto;
	background-color: #fff;
	opacity: 0.7;
	display:flex;
	align-items:center;
	border-radius: 400px 20px 400px 400px;
	box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
}

.main4 {
	width: 20em;
	height: 20em;
	margin: 1em auto;
	background-color: #000;
	display:flex;
	align-items:center;
	border-radius: 400px 20px 400px 400px;
	box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
}

.copyright {
	margin: 0;
	background-color: #000;
	color: #fff;
	padding: 1em;
	border-radius: 20px 20px 20px 20px;
	vertical-align: text-top;
	display: flex;
  align-items: flex-end;
	justify-content: center;
}

.title {
	color: #fff;
	font-size: 1.5em;
	margin: 0 auto;
}
