::-moz-selection {background: #1D1F21;}

::selection {background: #1D1F21;}

body {
	font-family: 'Josefin Sans', sans-serif;
	background-color: #202327;
}

.rd {
	margin: 0;
	text-align: left;
	font-size: .1em;
}

.block {
	width: 60%;
	height: 100vh;
	margin: 0 auto;
}

.block1 {
	width: 50%;
	height: 100vh;
	float: left;
}

.block2 {
	width: 50%;
	height: 100vh;
	float: left;
}

.one {
	width: 27em;
	height: 27em;
	margin: 1.5em auto;
	border-radius: 50%;
	background-color: pink;
	background-image: url(https://source.unsplash.com/category/technology);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.two {
	width: 27em;
	height: 27em;
	margin: 1.5em auto;
	border-radius: 50%;
	background-color: pink;
	background-image: url(https://source.unsplash.com/category/people);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.three {
	width: 27em;
	height: 27em;
	margin: 1.5em auto;
	border-radius: 50%;
	background-color: pink;
	background-image: url(https://source.unsplash.com/category/food);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.four {
	width: 27em;
	height: 27em;
	margin: 1.5em auto;
	border-radius: 50%;
	background-color: pink;
	background-image: url(https://source.unsplash.com/category/buildings);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.ptechnology {
	color: white;
	font-size: 5em;
	margin: 0;
	position: relative;
	top: 40%;
	opacity: 0.8;
}

.ppeople {
	color: white;
	font-size: 5em;
	margin: 0;
	position: relative;
	top: 40%;
	opacity: 0.8;
}

.pfood {
	color: white;
	font-size: 5em;
	margin: 0;
	position: relative;
	top: 40%;
	opacity: 0.8;
}

.pbuildings {
	color: white;
	font-size: 5em;
	margin: 0;
	position: relative;
	top: 40%;
	opacity: 0.8;
}
