::-moz-selection {background: #090B0D;}

::selection {background: #090B0D;}

body {
	font-family: 'Josefin Sans', sans-serif;
	height: 100vh;
}

.rd {
	margin: 0;
	text-align: left;
	font-size: .1em;
}

.block {
	height: 100vh;
	width: 50%;
	float: left;
}

.one {
	background-color: black;
}

.two {
	background-color: lightgreen;
}

.three {
	background-color: yellow;
}

.four {
	background-color: orangered;
}

.Sone {
	color: white;
	text-transform: uppercase;
	font-size: 10em;
	position: relative;
	top: 25%;
	left: 30%;
}

.Stwo {
	color: black;
	text-transform: uppercase;
	font-size: 10em;
	font-family: 'Rubik', sans-serif;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

.finish {
	color: white;
	position: relative;
	top: 20%;
}

.finishblock {
	height: auto;
	width: 100%;
	background-color: black;
}
